body{
    background:#555;
}
.menu{
    list-style-type:none;
    padding: 0;
    margin: 0;
    background:rgb(224, 203, 120);
    height: 100%;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}
.menu a{    
    transition: 1s;
    text-decoration: none;
    color:black;
    height:100%; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu a:hover{
    background: rgb(224, 203, 80);
    text-decoration: none;
    color:black;
    cursor:pointer;
    box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1);
}
#Prawy{
    background-color: rgb(178, 233, 233);
    overflow: auto;
}